<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.atanas.tsankov.nfitness"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.NoTitleBar" >
        <activity
            android:noHistory="true"
            android:name="com.atanas.tsankov.nfitness.SplashScreenActivity"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.atanas.tsankov.nfitness.MainMenuActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.atanas.tsankov.nfitness.PickWorkoutActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.atanas.tsankov.nfitness.StartWorkoutActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.atanas.tsankov.nfitness.AddWorkoutActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.atanas.tsankov.nfitness.AddExerciseActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.atanas.tsankov.nfitness.SetProgrammeActivity"
            android:screenOrientation="portrait" >
        </activity>
    </application>

</manifest>